html {
  box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
}
body {
  background:#333;
  padding:10px;
}


#container {
  text-align:center;
  width:900px;
  margin:30px auto;
} 

.bottom {
  background:#000;
  border:1px solid #fff;
  color:#fff;
  line-height:200px;
}

.item {
  background:#000;
  border:1px solid #fff;
  color:#fff;
  line-height:200px;
  width:300px;
  height:200px;
  float:left;
}

.item:nth-child(3) {
  clear:left;
  width:600px;
}

.item:nth-child(4) {
  height:400px;
  margin-top:-200px;
  line-height:400px;
}
